@import './bootstrap';

:root {
    --color-primary: '';
}

html {
    height: 100%;
    .leaflet-control-attribution {
        display: none;
    }
    .leaflet-marker-icon {
        width: 2rem !important;
    }
}
