@import './bootstrap';

:root {
}

html {
    height: 100%;
    .leaflet-control-attribution {
        display: none;
    }
    .leaflet-marker-icon {
        width: 2rem !important;
    }
    body {
        padding: 0;
        margin: 0;
    }
}
