@import './bootstrap';

html {
    height: 100%;
    .leaflet-control-attribution {
        display: none;
    }

    .leaflet-marker-icon {
        width: 2rem !important;
    }
    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
}

@media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: 767px;
    }
}

@media (min-width: 768px) {
    .container,
    .container-sm,
    .container-md {
        max-width: 991px;
    }
}

@media (min-width: 992px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 1199px;
    }
}
@media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 1780px;
    }
}
